doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WAMI
        block style 
        link(rel="stylesheet", href="/css/app.css")
    body 
        include includes/header
    main(class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 md:p-6")
        block contenido


    footer(class="bg-gray-100 p-6 md:py-12 w-full dark:bg-gray-800 items-center")
        include includes/footer

    