doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title WAMI 
        block style 
        link(rel="stylesheet" href="/css/app.css")
    body 
        include includes/header
    main(class="")
        block contenido


    footer(class="bg-green-400 p-6 md:py-12 md:px-12 w-full dark:bg-gray-800")
        include includes/footer

